body{ 
background-color: khaki; 
position: relative;
z-index: 1;
} 
.menu *{
        background-color: khaki;
	margin: 0;
	padding: 0;
	text-align: center;
        z-index: 3;
	
}

.menu ul, .menu ol{
	list-style: none;
}

.menu > ul{
	display: flex;
}

.menu > ul li a{
	padding: 15px;
	display: block;
	background: #F5DEB3;
	font-size: 18px; 
	color: black;
	text-decoration: none;
}
 
.menu > ul li{
	position: relative;
	border: 2px solid sandybrown;
}

.menu li a:hover{
	background: #F5DEB3;
	color: white;
	box-shadow: 1px 5px 10px -5px #454547;
}

.menu li ul{
	position: absolute;
	margin: -1px;
	margin-top: 1px;
	min-width: 125.2px;
	display: none;
}

.menu li > ul li{
	border: 2px solid sandybrown;
}

.menu li > ul li a{
	padding: 15px;
	text-transform: none;
	background: white;
}

.menu li:hover > ul{
	display: block;
}

.menu li > ul li ul{
	width: 200px;
	position: absolute;
	top:-2px;
	right: -202px;

}
.left{
     display: inline-block;
     background-color: #F5DEB3;
     border: 2px solid sandybrown;
     border-radius: 20px;
     margin: 1px;
     margin-left: 13%;
     padding: 2%;
     width: 20%;
     height: 90%;
     min-height: 1000px;
     max-width: 1000px;
     text-align: center;
     vertical-align: bottom;
     opacity: 0.9;
}
.center{
     display: inline-block;
     background-color: #F5DEB3;
     border: 2px solid sandybrown;
     border-radius: 20px;
     margin: 1px;
     padding: 2%;
     width: 20%;
     height: 90%;
     min-height: 1000px;
     max-width: 1000px;
     text-align: center;
     vertical-align: bottom;
     opacity: 0.9;
}
.right{
     display: inline-block;
     background-color: #F5DEB3;
     border: 2px solid sandybrown;
     border-radius: 20px;
     margin: 1px;
     margin-right: 3%;
     padding: 2%;
     width: 20%;
     height: 90%;
     min-height: 1000px;
     max-width: 1000px;
     text-align: center;
     vertical-align: bottom;
     opacity: 0.9;
}

@media print {
        .right, nav{
        display: none
}
p {font-family: "Times New Roman", Georgia, Serif;}
